h5 {
  padding-top: 2em;
  padding-bottom: .5em;
}

body {
  background-image: url("../images/hive-bg.jpg");
}

.my-container {
  background-color: white;
  width: 830px;
}

.mc {
  /* //float: left; */
}

.mc-spacing {
  /* //float: left; */
  margin-right: 1em;
  margin-left: .5em;
}

.btn-spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}

.my-jumbotron {
  background-color: gold;
}

.my-footer {
  background-color: brown;
  border-radius: 4px;
  margin-top: 3em;
}
